body {
  font-family: 'New Rocker', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #b5fac7;
}

.pages {
  color: #316685;
  text-align: center;
  font-size: 3.5rem;
  margin-top: 5%;
}

.maiden {
  height: 450px;
  margin-top: 50px;
}

.sub-menu {
  margin-top: -60px;
  margin-bottom: -50px;
}

.menu1, .menu2, .menu3, .menu4 {
  height: 130px;
  margin-top: 20px;
}

#menu1btn, #menu2btn, #menu3btn, #menu4btn, #menu5btn{ 
  background-color: #b5fac7;
  padding: 0%;
  margin: 0 7px 5px 7px;
}

.menu1:hover, .menu2:hover, .menu3:hover, .menu4:hover, .menu5:hover {
  transform: scale(1.5);
  /*box-shadow: 0 4px 2px -2px rgba(230, 226, 9, 0.911);*/
}

.menu4, .menu2 {
  padding-top: 10px;
}

.menu5, .menu1 {
  height: 120px;
  padding-top: 40px;
}

.welcome-text {
  color: rgb(180, 72, 166);
  animation-name: maiden;
  animation-duration: 3s;
  animation-iteration-count: 30;
  animation-delay: 2ms;
  font-family: 'New Rocker', 'Press Start 2P', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-shadow: 2px 2px #8e9094;
  margin-bottom: 20px;
  font-size: 52px;
}

@keyframes maiden {
  0% {
    color: rgb(243, 94, 8);
    padding-bottom: 2px
  }

  25% {
    color: yellow;
    padding-bottom: 5px
  }

  50% {
    color: rgb(255, 0, 76);
    padding-bottom: 3px
  }

  100% {
    color: green;
    padding-bottom: 1px
  }
}

.music-home-page {
  width: 30px;
}

.bar-menu-header {
  font-family: 'New Rocker' !important;
  text-shadow: 1px 1px #8e9094;
  text-align: center;
  font-size: 36px;
  background-color: #1f5156 !important;
}

/*

.get-menu-modal {
  background-image: url('/frontend/ui/src/img/old-menu.jpg');
  background-size: cover !important;
}

*/

.logo-menu {
  height: 48px;
}

/* Custom Semantic ui overwrite */
.ui.modal {
  font-family: 'New Rocker', 'Open Sans', sans-serif;
}