body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #b5fac7;
}

.pages {
  color: #316685;
  text-align: center;
  font-size: 3.5rem;
  margin-top: 5%;
}

.maiden {
  height: 450px;
}

.welcome-text {
  color: rgb(180, 72, 166);
  animation-name: maiden;
  animation-duration: 3s;
  animation-iteration-count: 30;
  animation-delay: 2ms;
  font-family: 'New Rocker', 'Press Start 2P', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-shadow: 2px 2px #8e9094;
  margin-bottom: 20px;
  font-size: 42px;
}

@keyframes maiden {
  0% {
    color: rgb(243, 94, 8);
    padding-bottom: 2px
  }

  25% {
    color: yellow;
    padding-bottom: 5px
  }

  50% {
    color: rgb(255, 0, 76);
    padding-bottom: 3px
  }

  100% {
    color: green;
    padding-bottom: 1px
  }
}

.music-home-page {
  width: 30px;
}